.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 10%;
  height: 100%;
}

.home-main {
  position: fixed;
  top: 0;
  left: 10%;
  width: 90%;
  height: 100%;
}

.center {
  text-align: center;
}
