<table [dataSource]="tableData" mat-table matSort style="width: 100%">
  <ng-container *ngFor="let columnName of displayedColumns" [matColumnDef]="columnName">

    <th *matHeaderCellDef [mat-sort-header]="columnName" mat-header-cell> {{columnName}}</th>
    <td *matCellDef="let untypedSubject" mat-cell>
      {{untypedSubject[columnName]}}
      <ng-template [ngIf]="typedSubject(untypedSubject)" let-Subject="ngIf">
        {{getValue(Subject, columnName)}}
      </ng-template>
    </td>
  </ng-container>

  <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
  <tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
</table>
<mat-paginator [pageSizeOptions]="[1,5,9,15]"
               [pageSize]="5"
               showFirstLastButtons></mat-paginator>




