<div class="no-events">
  <div class="form-container">
    <mat-form-field style="width: 15%;">
      <mat-label>Filter Champions</mat-label>
      <input [formControl]="tableFilter" matInput placeholder="Champion Name">
    </mat-form-field>

    <mat-form-field appearance="fill" style="width: 50%;" class="centered-field">
      <mat-label>Choose which Challenges are visualized</mat-label>
      <mat-select [formControl]="selectedOptions" multiple>
        <mat-option *ngFor="let option of options" [value]="option" [matTooltip]="option.description" matTooltipPosition="left">
          {{ option.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

<mat-tab-group class="tab-container">
  <mat-tab label="Starter Series">
    <div  class="table-container">
      <app-eternal-series [championWithEternalSeries]="combineChampionsWithStarterSeries()"
                          [tableFilter]="tableFilter.value"
                          [challengeFilter]="selectedOptions.value"></app-eternal-series>
    </div>
  </mat-tab>

  <mat-tab label="Series 1">
    <div  class="table-container">
      <app-eternal-series [championWithEternalSeries]="combineChampionsWithSeries1()"
                          [tableFilter]="tableFilter.value"
                          [challengeFilter]="selectedOptions.value"></app-eternal-series>
    </div>
  </mat-tab>

  <mat-tab label="Series 2">
    <div  class="table-container">
      <app-eternal-series [championWithEternalSeries]="combineChampionsWithSeries2()"
                          [tableFilter]="tableFilter.value"
                          [challengeFilter]="selectedOptions.value"></app-eternal-series>
    </div>
  </mat-tab>

</mat-tab-group>
</div>
