.top-bar {
  font-family: "Arial Black", sans-serif;
  font-size: larger;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #a9a9a9;
  color: black;
  padding: 10px 15px;
  height: 55px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 4px;
}

.button-group {
  display: flex;
  gap: 10px;
  user-select: none;
}

.status {
  font-weight: bold;
  pointer-events: none;
  user-select: none;
}

.connected, .running {
  color: #0b620b;
}

.disconnected, .error, .stopped {
  color: #a52019;
}

.starting {
  color: orangered;
}

mat-progress-bar {
  position: fixed;
  top: 71px;
  width: 100%;
  z-index: 2000;
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background {
  background-color: blue !important;
  border-color: blue !important;
}
