<h2 mat-dialog-title>Create Class</h2>

<mat-dialog-content>
  <mat-form-field appearance="outline" class="full-width">
    <mat-label>Subject</mat-label>
    <input [(ngModel)]="subject"
           matInput>
  </mat-form-field>

  <mat-form-field appearance="outline" class="full-width">
    <mat-label>teacher</mat-label>
    <input [(ngModel)]="teacher"
           matInput>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-dialog-close="false" mat-raised-button>Cancel</button>
  <button (click)="save()" color="primary" mat-raised-button>Save</button>
</mat-dialog-actions>
