<h2 mat-dialog-title>Create Class</h2>

<mat-dialog-content>
  <mat-form-field class="full-width" appearance="outline">
    <mat-label>classname</mat-label>
    <input matInput>
  </mat-form-field>

  <mat-form-field class="full-width" appearance="outline">
    <mat-label>teacher</mat-label>
    <input matInput>
  </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close="false">Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="true">Save</button>
</mat-dialog-actions>
