<table [dataSource]="dataSource" mat-table matSort style="width: 100%">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="challengeName">Name</th>
    <td mat-cell *matCellDef="let untypedSubject">
      <ng-template [ngIf]="typedSpecialChallenge(untypedSubject)" let-challenge="ngIf">
        <a class="clickable" [routerLink]="[getChallengeLink(challenge.challengeType),challenge.challengeName]">
          {{ challenge.challengeName }}
        </a>
      </ng-template>
    </td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th *matHeaderCellDef mat-sort-header="challengeDescription" mat-header-cell>Description</th>
    <td *matCellDef="let untypedSubject" mat-cell>
      <ng-template [ngIf]="typedSpecialChallenge(untypedSubject)" let-challenge="ngIf">
        {{ challenge.challengeDescription }}
      </ng-template>
    </td>
  </ng-container>

  <ng-container matColumnDef="retired">
    <th *matHeaderCellDef mat-sort-header="retired" mat-header-cell>Retired</th>
    <td *matCellDef="let untypedSubject" mat-cell>
      <ng-template [ngIf]="typedSpecialChallenge(untypedSubject)" let-challenge="ngIf">
        <span *ngIf="challenge.retired" class="retired">retired</span>
        <span *ngIf="!challenge.retired" class="progressable">progressable</span>
      </ng-template>
    </td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th *matHeaderCellDef mat-sort-header="challengeType" mat-header-cell>Type</th>
    <td *matCellDef="let untypedSubject" mat-cell>
      <ng-template [ngIf]="typedSpecialChallenge(untypedSubject)" let-challenge="ngIf">
        {{ challenge.challengeType }}
      </ng-template>
    </td>
  </ng-container>

  <ng-container matColumnDef="level">

    <th *matHeaderCellDef mat-sort-header="challengeLeague" mat-header-cell>Level</th>
    <td *matCellDef="let untypedSubject" mat-cell>
      <ng-template [ngIf]="typedSpecialChallenge(untypedSubject)" let-challenge="ngIf">
        {{ challenge.challengeLeague.slice(2) }}
      </ng-template>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-paginator [pageSizeOptions]="[1,5,9,15,21,25,49]"
               [pageSize]="21"
               [showFirstLastButtons]='true'></mat-paginator>
